{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <h1>Home page</h1>
            </div>
        </div>
    </div>
{{ end }}
